@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primaryColor: #734d26; 
}

body{
    font-family: 'Gluten', cursive;
    /* background-color: var(--primaryColor); */
}

/* navbar */
nav{
    display: flex;
    background-color: var(--primaryColor);
    padding: 1.5rem;
    justify-content: center;
}

nav div{
    font-size: xx-large;
    font-weight: bold;
}

/* main section */
main{
    display: flex;
    /* flex-direction: column; */
    padding: 2rem;
}

.spacing{
    flex: 1;
}

.spacing-content{
    display: flex;
    flex-direction: column;
}

#input{
    height: 5rem;
    margin: 0.25rem;
    padding: 0.8rem;
}

#button{
    background-color: var(--primaryColor);
    border: none;
    font-family: 'Gluten', cursive;
    padding: 0.8rem;
    font-size: larger;
    margin: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 0.5em;
}

#output{
    margin: 0.25rem;
    margin-top: 0.75rem;
    overflow: scroll;
    padding: 0.8rem;
}

/* footer */
footer{
    display: flex;
    background-color: var(--primaryColor);
    padding: 1rem;
}

footer div{
    flex: 1;
}

#footer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

#about{
   display: flex;
   justify-content: center;
   margin-bottom: 0.2rem;
}

